[role=checkbox]{
    display:inline-block;
    position:relative;
    width:1rem; height:1rem;
}

.checkbox-checked{
    display:block; width:1rem; height:1rem;
    border:solid 2px; position:absolute;
    font-size:1rem;
}

[role="checkbox"][aria-checked=mixed] .checkbox-checked{
    background-color:black; border-color:#2e2e2e;
    color:white;
}

[role=checkbox][aria-checked] .checkbox-checked::after{
    content:""; display:inline-block; position:absolute;
    left:50%; top:50%; transform:translateY(-50%) transLateX(-50%);
}

[role=checkbox][aria-checked=true] .checkbox-checked::after{
    content:'check'; position:absolute;
    user-select:none;
}

[role=checkbox][aria-checked=mixed] .checkbox-checked::after{
    content:'remove'; position:absolute;
    user-select:none;
}