:root{
    --radio-color-theme:#dfefef;
    --radio-border-color:#000;
    --radio-selected-color:var(--radio-border-color);
}

[role=radio]{
    display:inline-block;
    border:2px solid;
    color:var(--radio-border-color);
    border-radius: 50%;
    width:1rem; height:1rem;
    background: var(--radio-color-theme);
    position: relative;
}

[role=radio] .radio-selected{
    height:100%; width:100%;
    border-radius: 50%; display:block;
    position:relative;
}

[role=radio] .radio-selected:after{
    content:""; display:inline-block;
    text-align: center;
    position: absolute; top:50%; left:0;
    background-color:transparent;
    margin:0 auto;
    transform:translateY(-50%);
    width:1%; height:1%;
    border-radius: 50%;
    transition:background-color 0.5s, width 0.5s, height 0.5s, transform 0.5s, left 0.5s, margin 1s;
}

[role=radio][aria-checked=true] .radio-selected:after{
    content:"";
    display: block; text-align: center;
    position: relative;
    width:85%; height:85%; 
    background-color:var(--radio-selected-color);
    border-radius:50%;
    margin:0 auto;
}

@media (prefers-color-scheme:dark){
    :root{
        --radio-color-theme:#1f2f3f;
        --radio-border-color:#dfdfdf;
        --radio-selected-color:var(--radio-border-color);
    }
}